# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
*.jsbundle
*.ipa
*.apk

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Android
android/app/build/
android/.gradle/
android/app/google-services.json

# iOS
ios/Pods/
ios/build/
ios/GoogleService-Info.plist

# Misc
*.log
.jest/
coverage/
